
body {
margin: 0%;
color: white;
background-color: #2A2B2A;
}

img {
    height: 380px;
    width: 260px;
}

h1{
    font-family: 'Italiana', serif;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    margin: 15px;
    font-weight: 400;
}

#whiteLine {
    width: 100%;
    height: 3px;
    background-color: white;
}
.box {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 528px;
    height: 474px;
    left: 456px;
    top: 169px; 
    background: #FFFFFF;
    border-radius: 10px;
    color: #2A2B2A;
    display: flex;
}

.dogPicture {
    margin-left: 20px;
    margin-top: 45px;
    border: 1px black solid;
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-family: 'Italiana', serif; 
    font-weight: 400;
    font-size: 30px;
}
p {
    margin: 10px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    font-size: 15px;
}

.button{
    margin-top: 250px; 
    margin-left: 10px;
}
.but{
    font-family:'Jacques Francois', serif;
    width: 70px;
    height: 20px;
    padding-bottom: 18px;
    background-color: #2A2B2A;
    color: #FFFFFF;
    border-radius: 6px;
    border: 0;
    font-weight: 300;
}

.delete {
    font-family:'Jacques Francois', serif;
    width: 70px;
    height: 20px;
    margin-left: 72px;
    margin-top: 10px;
    background-color: #620000;
    border: 0;
    border-radius: 6px;
    color: #FFFFFF;
}

#section {
    text-align: center;
    margin: 10px;
}